/* Basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: rgb(239, 9, 9);
    --color-secondary: #222;

    --color-background: #e8e8e8;
}

@keyframes attack {
    50% {
        transform: scaleX(1) rotate(0deg);
        margin-right: 500px;
    }

    65% {
        /* transform: scaleX(1) rotate(0deg); */
        margin-right: 500px;
    }

    70% {
        margin-right: 600px;
        transform: scaleX(1.15) rotate(-30deg);
    }
}

@keyframes hit {
    25% {
        transform: scaleX(1.1) rotate(10deg);
        filter: none
    }

    50% {
        transform: scaleX(1.1) rotate(20deg);
        margin-left: 150px;
        filter: brightness(0) saturate(100%) invert(16%) sepia(89%) saturate(7000%) hue-rotate(1deg) brightness(80%) contrast(118%);
    }

    55% {
        filter: none
    }

    65% {
        /* filter: brightness(2) saturate(0%); */
        transform: scaleX(1) rotate(30deg);
    }
}

@keyframes faint {

    /* Shake */
    0% {
        transform: translateX(0) translateY(0) scale(1);
        /* opacity: 1; */
    }

    10% {
        transform: translateX(-6%) translateY(0) scale(1);
    }

    20% {
        transform: translateX(6%) translateY(0) scale(1);
    }

    30% {
        transform: translateX(-4%) translateY(0) scale(1);
    }

    40% {
        transform: translateX(4%) translateY(0) scale(1);
    }

    /* Start falling */
    55% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }

    /* Drop + shrink + fade */
    100% {
        transform: translateX(0) translateY(20%) scale(0.7);
        opacity: 0;
    }
}

@keyframes status {
    0% {
        transform: translateX(0) translateY(0) scale(1);
        /* opacity: 1; */
    }

    25% {
        transform: scale(0.7)
    }

    75% {
        transform: translateX(0) translateY(0) scale(1.3);
        opacity: 1;
    }
}

/* @keyframes statchange */

/* Animation Classes */
.status {
    animation: status 0.3s linear 0s 2 forwards;
}

.attack {
    animation: attack 0.7s linear 0.2s 1 forwards;
}

.hit {
    animation: hit 0.5s linear 0s 1 forwards;
}

.faint {
    animation: faint 0.9s ease-in-out forwards;
}

.spawn {
    animation: faint 1s ease-out reverse forwards;
}




body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page {
    position: relative;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    border-radius: 8px;
    border: 7px solid var(--color-secondary);
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
    padding: 32px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 auto;
        height: 55px;
        background: linear-gradient(90deg, #c62828, #ef5350);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 16px;
        left: 22px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: radial-gradient(circle at 30% 30%, #ffffff 0, #ffffff 40%, #bbdefb 65%, #90caf9 100%);
        box-shadow: 0 0 0 4px #eceff1, 0 0 0 7px #263238, 0 0 12px rgba(255, 255, 255, 0.9);
        z-index: 1;
    }
}

/* Header */
.page-header {
    z-index: 100;
    text-align: center;
    /* border-bottom: 1px solid #d0d0d0; */
    padding-bottom: 8px;

    h1 {
        color: white;
        margin-top: -3%;
        font-size: 2rem;
    }
}

/* Main card */
.main-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Battle area */
.battle-area {
    border: 1px solid #d0d0d0;
    border-radius: 32px;
    padding: 20px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fafafa;
}

.battle-header {
    display: flex;
    justify-content: flex-start;
}

.weather {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #555;
}

.weather-icon {
    font-size: 1.2rem;
}

.pokemon-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}


/* Diagonal Pokemon */
/* .pokemon-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
     gap: 5px;
}

.pokemon-row .pokemon-card:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
}

.pokemon-row .pokemon-card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
} */

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.pokemon-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Sprite box */
.sprite-box {
    width: 170px;
    height: 170px;
    border: 2px solid #c5c5c5;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.sprite-box::before,
.sprite-box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #d0d0d0;
}

.sprite-box::after {
    width: 100%;
    height: 2px;
} */

.sprite-placeholder {
    font-size: 0.9rem;
    color: #999;
    transition: height 0.7s ease-in;
}

/* Sprite shadow */
/* .sprite-shadow {
    margin-top: 4px;
    padding: 4px 16px;
    min-width: 140px;
    border-radius: 999px;
    background: #555;
    color: #fff;
    font-size: 0.85rem;
    text-align: center;
} */

/* HP bar */
.stats-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.level-label {
    font-size: 0.9rem;
    color: #666;
}

.hp-bar {
    /* --current: 100; */
    /* --max: 100; */

    /* --hp-ratio: calc(var(--current) / var(--max)); */
    /* Health Percentage, Min: 0 - Max: 1*/
    --hp-ratio: 1;
    --hp-hue: calc(var(--hp-ratio) * 115.56deg);

    position: relative;
    width: 150px;
    height: 15px;
    border-radius: 999px;
    background: #e0e0e0;
    overflow: hidden;
}

.hp-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.85rem;
    color: black;

    /* &::before {
        content: attr(data-current) " / " attr(data-max);
        font-size: 0.85rem;
    } */
}

.hp-fill {
    width: calc(var(--hp-ratio) * 100%);
    height: 100%;

    /* background-color: #6bcf63; */
    background-color: hsl(var(--hp-hue) 52.94% 50%);
    transition:
        width 0.9s cubic-bezier(0.22, 0.61, 0.36, 1),
        background-color 0.9s ease-out;
}

/* Moves area */
.moves-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 24px;
}

.move-tile {
    border-radius: 24px;
    border: 1px solid #d0d0d0;
    background: #f7f7f7;
    font-size: 1rem;
    padding: 20px 24px;
    cursor: pointer;
    transition: background 0.15s, transform 0.1s;

    &:hover {
        background: #ececec;
        transform: translateY(-1px);
    }

    span {
        font-size: large;
    }

    p {
        color: grey;
    }
}


/* Move tile and Move card are separated for battleUI reasons. */



.move-card {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.75rem 0.9rem;
    border-radius: 16px;
    border: 1px solid #d0d0d0;
    background: #f9f9f9;
    text-align: left;
    cursor: pointer;
    transition: transform 0.08s ease, box-shadow 0.12s ease, background 0.12s ease;
}

.move-card:hover:not(:disabled) {
    background: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.move-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: solid 3px black;
}

.move-name {
    font-weight: 600;
    font-size: 0.95rem;
}

.move-type {
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.1rem 0.5rem;
    border-radius: 999px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

/* Move Type Color Themes */

.move-type--fire {
    background: #ff9b63;
    color: #4b2100;
}

.move-type--water {
    background: #68b5ff;
    color: #00335a;
}

.move-type--electric {
    background: #ffe66b;
    color: #5a4b00;
}

.move-type--grass {
    background: #8bdc8b;
    color: #184f18;
}

.move-type--bug {
    background: #b7c85a;
    color: #283008;
}

.move-type--dark {
    background: #6f5746;
    color: #0f0703;
}

.move-type--dragon {
    background: #9b7bff;
    color: #1b0b4a;
}

.move-type--fairy {
    background: #f7c0e6;
    color: #5a1040;
}

.move-type--fighting {
    background: #e26b5a;
    color: #4b1300;
}

.move-type--flying {
    background: #a8c3ff;
    color: #14254f;
}

.move-type--ghost {
    background: #8f79c2;
    color: #170c30;
}

.move-type--ground {
    background: #e2c58a;
    color: #4a3300;
}

.move-type--ice {
    background: #a5e6ff;
    color: #004054;
}

.move-type--poison {
    background: #c686e6;
    color: #2e0045;
}

.move-type--psychic {
    background: #ff9ac4;
    color: #5a0023;
}

.move-type--rock {
    background: #d5c27a;
    color: #3a2c00;
}

.move-type--steel {
    background: #c4d3e0;
    color: #1f2b33;
}


.move-meta {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.25rem 0.4rem;
    font-size: 0.7rem;
}

.move-stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.move-stat .label {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #777;
}

.move-stat .value {
    font-weight: 600;
    color: #222;
}

/* Damage class/category styling */
.move-damage-class--physical .value {
    color: #b74b3b;
}

.move-damage-class--special .value {
    color: #3b4bb7;
}

.move-damage-class--status .value {
    color: #3b7b4b;
}

.move-desc {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    line-height: 1.3;
    color: #555;
    white-space: pre-line;
}







/* Reset */
.reset-row {
    display: flex;
    justify-content: center;
}

.reset-btn {
    padding: 8px 22px;
    border-radius: 999px;
    border: 1px solid #bfbfbf;
    background: #f3f3f3;
    cursor: pointer;
    font-size: 0.95rem;

    &:hover {
        background: #e5e5e5;
    }
}

/* Footer */
.page-footer {
    text-align: center;
    padding-top: 8px;
    font-weight: 500;
    font-size: 1.1rem;
    border-top: 1px solid #d0d0d0;
}

/* special classes */

.mirror-x {
    transform: scaleX(-1);
}

.mirror-y {
    transform: scaleY(-1);
}